[Unit]
Description=Launch an open source secrets warehouse.
DefaultDependencies=no
Before=openbao_add_pw.service openbao_add_pki.service
Requires=openbao_add_pw.service openbao_add_pki.service

[Container]
Image=quay.io/openbao/openbao:2.3
ContainerName=openbao
Environment=BAO_DEV_ROOT_TOKEN_ID="token"
PublishPort=8200:8200
PidsLimit=50

[Service]
Restart=always

[Install]
RequiredBy=secrets.target
