[Unit]
Description=Launch the Openbao server to store secrets.

[Container]
Image=quay.io/openbao/openbao:2.5
ContainerName=openbao
Environment=BAO_DEV_ROOT_TOKEN_ID="token"
PublishPort=8200:8200
PublishPort=8233:8233
PidsLimit=50
Volume=/data/setup/:/openbao/config
Volume=/data/ca/:/pki

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
