[Unit]
Description=A pub-sub queue for logs.

[Container]
Image=docker.io/library/nats:2-alpine
ContainerName=nats
PublishPort=4222:4222
Volume=/data/setup/nats-server.conf:/etc/nats/nats-server.conf
Volume=/data/ca/private/nats-key.pem:/nats_key.pem
Volume=/data/ca/public/nats.pem:/nats_cert.pem
PidsLimit=50

[Service]
Restart=on-failure
RestartSec=10

[Install]
RequiredBy=queue.target
