[Unit]
Description=Add certificates and keys to OpenBao
Requires=dev_openbao.service
After=dev_openbao.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=5
RemainAfterExit=yes
ExecStart=/usr/bin/sleep 5
ExecStart=bash /data/setup/add_encoded_cert_and_key.sh
