[Unit]
Description=Add certificates and keys to OpenBao
Requires=After=dev_openbao.service

[Service]
Type=oneshot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=add-pki-to-openbao
Restart=on-failure
RestartSec=5
RemainAfterExit=yes
ExecStart=/usr/bin/sleep 5
ExecStart=bash /data/setup/add_encoded_cert_and_key.sh
