[Unit]
Description=A condition required in the development environment
Requires=dev_openbao.service
Before=dev_openbao.service

[Install]
RequiredBy=basic.target
